# dependências
node_modules/

# expo
.expo/
.expo-shared/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build
dist/
build/

# sistema
.DS_Store
Thumbs.db

# ambiente
.env
.env.local

# cache
.cache/